{% extends 'base.html.twig' %}

{% block title %}Hello RosterController!{% endblock %}

{% block body %}
{% if (wowRosterStatus == 1) %}
        <table border=1>
        <th> Name </th>
        <th> Level </th>
        <th> Class </th>
        <th> Race </th>
        <th> Rank </th>
        {% for wowRosterMember in wowRosterData.members %}
            <tr>
            <td> {{ wowRosterMember.character.name }} </td>
            <td> {{ wowRosterMember.character.level }} </td>
            <td> {{ wowRosterMember.character.playable_class.id }} </td>
            <td> {{ wowRosterMember.character.playable_race.id }} </td>
            <td> {{ wowRosterMember.rank }} </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        No progress found
    {% endif %}
{% endblock %}
